<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title><%= current_page.data.title || "Anand Chowdhary" %></title>
		<meta property="og:title" content="<%= current_page.data.title || "Anand Chowdhary" %>">
		<meta name="apple-mobile-web-app-title" content="Anand Chowdhary">
		<meta name="application-name" content="Anand Chowdhary">

		<meta name="description" content="<%= current_page.data.desc || "Anand Chowdhary is a creative engineer, interaction designer, and entrepreneur. He is the co-founder and CEO of Oswald Labs, an award-winning accessibility technology company." %>">
		<meta property="og:description" content="<%= current_page.data.desc || "Anand Chowdhary is a creative engineer, interaction designer, and entrepreneur. He is the co-founder and CEO of Oswald Labs, an award-winning accessibility technology company." %>">
		<link rel="canonical" href="https://anandchowdhary.com<%= current_page.url.chomp("index.html").chomp(".html").chomp("/") %>">
		<meta property="og:url" content="https://anandchowdhary.com<%= current_page.url.chomp("index.html").chomp(".html").chomp("/") %>">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:publisher" content="@AnandChowdhary">
		<meta name="twitter:creator" content="@AnandChowdhary">
		<link rel="publisher" href="https://plus.google.com/109050675253975445822">
		<meta property="og:author" content="https://www.facebook.com/AnandChowdhary">
		<meta property="og:publisher" content="https://www.facebook.com/AnandChowdhary">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<%= stylesheet_link_tag "site" %>

	</head>

	<body class="<%= page_classes %>">

		<a href="#content" class="sr-only sr-only-focusable btn btn-light">Skip to main content</a>

		<header id="masthead" class="bg-light pt-2 pb-2">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<%= current_link_to "Anand Chowdhary", "/", class: "navbar-brand" %>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="primaryNav">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<%= current_link_to "Projects", "/projects/", class: "nav-link" %>
							</li>
							<li class="nav-item">
								<%= current_link_to "Blog", "/blog/", class: "nav-link" %>
							</li>
							<li class="nav-item">
								<%= current_link_to "About", "/about/", class: "nav-link" %>
							</li>
						</ul>
						<ul class="navbar-nav social-nav">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fab fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main id="content">
			<div class="container mt-5 mb-5">
				<%= yield %>
			</div>
		</main>

		<footer id="colophon">
			<div class="container pt-4 pb-5">
				<div class="row">
					<div class="col-md">
						<p>&copy; 2010&ndash;<%= Date.today.strftime("%Y") %> Anand Chowdhary</p>
					</div>
					<div class="col-md text-right">
						<p>Made with <i class="fas fa-heart"></i> in India</p>
					</div>
				</div>
			</div>
		</footer>

		<script async defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<%= javascript_include_tag "site" %>

	</body>
</html>